* text=auto !eol
AndroidPortal.hu/.classpath -text
AndroidPortal.hu/.project -text
AndroidPortal.hu/AndroidManifest.xml -text
AndroidPortal.hu/default.properties -text
AndroidPortal.hu/res/drawable/aphu_logo.png -text
AndroidPortal.hu/res/drawable/aphu_title.png -text
AndroidPortal.hu/res/drawable/aphuicon.png -text
AndroidPortal.hu/res/drawable/itembackground.xml -text
AndroidPortal.hu/res/drawable/mini_refresh.png -text
AndroidPortal.hu/res/drawable/titlebackground.xml -text
AndroidPortal.hu/res/drawable/titleborder.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/drawable/widgetframe_41.png -text
AndroidPortal.hu/res/drawable/widgetframe_source_41.png -text
AndroidPortal.hu/res/layout/about.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/layout/preferences.xml -text
AndroidPortal.hu/res/layout/rsslist.xml -text
AndroidPortal.hu/res/layout/rsslistitem.xml -text
AndroidPortal.hu/res/layout/viewitem.xml -text
AndroidPortal.hu/res/layout/widget.xml -text
AndroidPortal.hu/res/menu/itemmenu.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/menu/mainmenu.xml -text
AndroidPortal.hu/res/values/arrays.xml -text
AndroidPortal.hu/res/values/strings.xml -text
AndroidPortal.hu/res/xml/portal_widget_info.xml -text
AndroidPortal.hu/src/hu/androidportal/AboutActivity.java -text svneol=unset#text/plain
AndroidPortal.hu/src/hu/androidportal/Codes.java -text
AndroidPortal.hu/src/hu/androidportal/ItemListActivity.java -text
AndroidPortal.hu/src/hu/androidportal/ItemViewActivity.java -text
AndroidPortal.hu/src/hu/androidportal/PreferencesActivity.java -text
AndroidPortal.hu/src/hu/androidportal/RSSItemProvider.java -text
AndroidPortal.hu/src/hu/androidportal/RSSServiceStartReceiver.java -text
AndroidPortal.hu/src/hu/androidportal/RSSSyncService.java -text
AndroidPortal.hu/src/hu/androidportal/rss/Formatters.java -text
AndroidPortal.hu/src/hu/androidportal/rss/HTMLEntities.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSChannel.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSHandler.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSItem.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSObject.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSStream.java -text
AndroidPortal.hu/src/hu/androidportal/test/RSSStreamTest.java -text
AndroidPortal.hu/src/hu/androidportal/test/magyarandroidportal.xml -text
AndroidPortal.hu/src/hu/androidportal/widget/PortalWidgetProvider.java -text
bankdroid.andralytics/.classpath -text
bankdroid.andralytics/.project -text
bankdroid.andralytics/AndroidManifest.xml -text
bankdroid.andralytics/default.properties -text
bankdroid.andralytics/libs/libGoogleAnalytics.jar -text
bankdroid.andralytics/res/drawable/app_icon.png -text
bankdroid.andralytics/res/drawable/facebook_button.xml -text
bankdroid.andralytics/res/drawable/facebook_icon_large.png -text
bankdroid.andralytics/res/drawable/facebook_icon_small.png -text
bankdroid.andralytics/res/drawable/gmail_button.xml -text
bankdroid.andralytics/res/drawable/gmail_icon_large.png -text
bankdroid.andralytics/res/drawable/gmail_icon_small.png -text
bankdroid.andralytics/res/drawable/header.png -text
bankdroid.andralytics/res/drawable/myspace_button.xml -text
bankdroid.andralytics/res/drawable/myspace_icon_large.png -text
bankdroid.andralytics/res/drawable/myspace_icon_small.png -text
bankdroid.andralytics/res/drawable/titleborder.xml -text
bankdroid.andralytics/res/drawable/twitter_button.xml -text
bankdroid.andralytics/res/drawable/twitter_icon_large.png -text
bankdroid.andralytics/res/drawable/twitter_icon_small.png -text
bankdroid.andralytics/res/layout/main.xml -text
bankdroid.andralytics/res/values-hu/strings.xml -text
bankdroid.andralytics/res/values/strings.xml -text
bankdroid.andralytics/src/bankdroid/andralytics/MainActivity.java -text
bankdroid.andralytics/src/bankdroid/andralytics/ShareUtils.java -text
bankdroid.andralytics/src/bankdroid/andralytics/TrackedActivity.java -text
bankdroid.soda.bank/src/bankdroid/soda/bank/Bank.java -text
bankdroid.soda.bank/src/bankdroid/soda/bank/BankDefinitionHandler.java -text
bankdroid.soda.bank/src/bankdroid/soda/bank/BankDescriptor.java -text
bankdroid.soda.bank/src/bankdroid/soda/bank/Expression.java -text
bankdroid.soda/.classpath -text
bankdroid.soda/.project -text
bankdroid.soda/.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
bankdroid.soda/AndroidManifest.xml -text
bankdroid.soda/BankTest.launch -text
bankdroid.soda/assets/EULA -text
bankdroid.soda/assets/bankdef1.xml -text svneol=unset#text/plain
bankdroid.soda/assets/bankdef10.xml -text
bankdroid.soda/assets/bankdef11.xml -text
bankdroid.soda/assets/bankdef12.xml -text
bankdroid.soda/assets/bankdef13.xml -text
bankdroid.soda/assets/bankdef14.xml -text
bankdroid.soda/assets/bankdef2.xml -text
bankdroid.soda/assets/bankdef3.xml -text
bankdroid.soda/assets/bankdef4.xml -text
bankdroid.soda/assets/bankdef5.xml -text
bankdroid.soda/assets/bankdef6.xml -text
bankdroid.soda/assets/bankdef7.xml -text
bankdroid.soda/assets/bankdef8.xml -text
bankdroid.soda/assets/bankdef9.xml -text
bankdroid.soda/default.properties -text
bankdroid.soda/res/drawable-hdpi/icon_facebook.png -text
bankdroid.soda/res/drawable-hdpi/icon_gmail.png -text
bankdroid.soda/res/drawable-hdpi/icon_infosite.png -text
bankdroid.soda/res/drawable-hdpi/icon_managebank.png -text
bankdroid.soda/res/drawable-hdpi/icon_submitsample.png -text
bankdroid.soda/res/drawable-hdpi/icon_twitter.png -text
bankdroid.soda/res/drawable-hdpi/icon_viewlast.png -text
bankdroid.soda/res/drawable-hdpi/soda_launch.png -text
bankdroid.soda/res/drawable-hdpi/title_menu.png -text
bankdroid.soda/res/drawable/alfabank_logo.png -text
bankdroid.soda/res/drawable/aliorbank_logo.png -text
bankdroid.soda/res/drawable/allianz_logo.png -text
bankdroid.soda/res/drawable/axa_logo.png -text
bankdroid.soda/res/drawable/background.xml -text
bankdroid.soda/res/drawable/background2.9.png -text
bankdroid.soda/res/drawable/background3.xml -text
bankdroid.soda/res/drawable/bankasya_logo.png -text
bankdroid.soda/res/drawable/bankdroid_logo.png -text
bankdroid.soda/res/drawable/bluecash_logo.png -text
bankdroid.soda/res/drawable/boa_logo.png -text
bankdroid.soda/res/drawable/budapestbank_logo.png -text
bankdroid.soda/res/drawable/button.xml -text
bankdroid.soda/res/drawable/citibank_logo.png -text
bankdroid.soda/res/drawable/creditsuisse_logo.png -text
bankdroid.soda/res/drawable/csob_logo.png -text
bankdroid.soda/res/drawable/donate2.png -text
bankdroid.soda/res/drawable/era_logo.png -text
bankdroid.soda/res/drawable/erste_logo.png -text
bankdroid.soda/res/drawable/fhb_logo.png -text
bankdroid.soda/res/drawable/ge_logo.png -text
bankdroid.soda/res/drawable/getin_logo.png -text
bankdroid.soda/res/drawable/icon_about.png -text
bankdroid.soda/res/drawable/icon_facebook.png -text
bankdroid.soda/res/drawable/icon_gmail.png -text
bankdroid.soda/res/drawable/icon_infosite.png -text
bankdroid.soda/res/drawable/icon_managebank.png -text
bankdroid.soda/res/drawable/icon_submitsample.png -text
bankdroid.soda/res/drawable/icon_twitter.png -text
bankdroid.soda/res/drawable/icon_viewlast.png -text
bankdroid.soda/res/drawable/ideabank_logo.png -text
bankdroid.soda/res/drawable/info_icon.png -text
bankdroid.soda/res/drawable/intesa_logo.png -text
bankdroid.soda/res/drawable/itembackground.xml -text svneol=unset#text/plain
bankdroid.soda/res/drawable/kh_logo.png -text
bankdroid.soda/res/drawable/mbank_logo.png -text
bankdroid.soda/res/drawable/mkb_logo.png -text
bankdroid.soda/res/drawable/multibank_logo.png -text
bankdroid.soda/res/drawable/openfinance_logo.png -text
bankdroid.soda/res/drawable/orange_logo.png -text
bankdroid.soda/res/drawable/otp2_logo.png -text
bankdroid.soda/res/drawable/panel_background.xml -text
bankdroid.soda/res/drawable/platezh_logo.png -text
bankdroid.soda/res/drawable/play_logo.png -text
bankdroid.soda/res/drawable/polbank_logo.png -text
bankdroid.soda/res/drawable/privatbank_logo.png -text
bankdroid.soda/res/drawable/psk_logo.png -text
bankdroid.soda/res/drawable/raiffeisen_logo.png -text
bankdroid.soda/res/drawable/sberbank_logo.png -text
bankdroid.soda/res/drawable/skandia_logo.png -text
bankdroid.soda/res/drawable/soda_launch.png -text
bankdroid.soda/res/drawable/sparkasse_logo.png -text
bankdroid.soda/res/drawable/svyaznoy_logo.png -text
bankdroid.soda/res/drawable/takarek_logo.png -text
bankdroid.soda/res/drawable/tatra_logo.png -text
bankdroid.soda/res/drawable/taxcare_logo.png -text
bankdroid.soda/res/drawable/title_menu.png -text
bankdroid.soda/res/drawable/titlebackground.xml -text
bankdroid.soda/res/drawable/ukrsibbank_logo.png -text
bankdroid.soda/res/drawable/unicredit_logo.png -text
bankdroid.soda/res/drawable/vietcom_logo.png -text
bankdroid.soda/res/drawable/vodafone_logo.png -text
bankdroid.soda/res/drawable/yapikredi_logo.png -text
bankdroid.soda/res/layout/about.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/bankedit.xml -text
bankdroid.soda/res/layout/banklist.xml -text
bankdroid.soda/res/layout/banklistitem.xml -text
bankdroid.soda/res/layout/main.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/preferences.xml -text
bankdroid.soda/res/layout/smslist.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/smslistitem.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/sod.xml -text
bankdroid.soda/res/layout/titlebar.xml -text
bankdroid.soda/res/menu/banklistcontextmenu.xml -text
bankdroid.soda/res/menu/banklistmenu.xml -text
bankdroid.soda/res/menu/normalmenu.xml -text
bankdroid.soda/res/menu/sodmenu.xml -text
bankdroid.soda/res/values-cz/strings.xml -text
bankdroid.soda/res/values-de/strings.xml -text
bankdroid.soda/res/values-hu/strings.xml -text
bankdroid.soda/res/values-sk/strings.xml -text
bankdroid.soda/res/values/colors.xml -text
bankdroid.soda/res/values/strings.xml -text
bankdroid.soda/res/values/styles.xml -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/AboutActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/Bank.java -text
bankdroid.soda/src/bankdroid/soda/BankDefinitionHandler.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankEditActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankListActivity.java -text
bankdroid.soda/src/bankdroid/soda/BankManager.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankProvider.java -text
bankdroid.soda/src/bankdroid/soda/Codes.java -text
bankdroid.soda/src/bankdroid/soda/CountDown.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/Eula.java -text
bankdroid.soda/src/bankdroid/soda/Expression.java -text
bankdroid.soda/src/bankdroid/soda/Formatters.java -text
bankdroid.soda/src/bankdroid/soda/Main.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/MenuActivity.java -text
bankdroid.soda/src/bankdroid/soda/Message.java -text
bankdroid.soda/src/bankdroid/soda/Preferences.java -text
bankdroid.soda/src/bankdroid/soda/SMSListActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/SMSOTPDisplay.java -text
bankdroid.soda/src/bankdroid/soda/SMSReceiver.java -text
bankdroid.soda/src/bankdroid/util/AppId.java -text
bankdroid.start/.classpath -text
bankdroid.start/.project -text
bankdroid.start/AndroidManifest.xml -text
bankdroid.start/assets/EULA -text
bankdroid.start/default.properties -text
bankdroid.start/libs/admob-sdk-android.jar -text
bankdroid.start/libs/libGoogleAnalytics.jar -text
bankdroid.start/res/drawable/action_button.xml -text
bankdroid.start/res/drawable/bankdroid_icon.png -text
bankdroid.start/res/drawable/bankdroid_logo.png -text
bankdroid.start/res/drawable/bankdroid_status_icon.png -text
bankdroid.start/res/drawable/donate2.png -text
bankdroid.start/res/drawable/facebook_icon.png -text
bankdroid.start/res/drawable/field_background.xml -text
bankdroid.start/res/drawable/gmail_icon.png -text
bankdroid.start/res/drawable/icon.png -text
bankdroid.start/res/drawable/icon_calendar.png -text
bankdroid.start/res/drawable/info_icon.png -text
bankdroid.start/res/drawable/itembackground.xml -text
bankdroid.start/res/drawable/listbackground.xml -text
bankdroid.start/res/drawable/menu_accounts.png -text
bankdroid.start/res/drawable/menu_logout.png -text
bankdroid.start/res/drawable/menu_profile.png -text
bankdroid.start/res/drawable/menu_transactions.png -text
bankdroid.start/res/drawable/menubuttonbackground.xml -text
bankdroid.start/res/drawable/select_button.xml -text
bankdroid.start/res/drawable/transp_button.xml -text
bankdroid.start/res/drawable/twitter_icon.png -text
bankdroid.start/res/layout/about.xml -text
bankdroid.start/res/layout/accountitem.xml -text
bankdroid.start/res/layout/accountlist.xml -text
bankdroid.start/res/layout/auth_bha.xml -text
bankdroid.start/res/layout/auth_dummy.xml -text
bankdroid.start/res/layout/auth_otp.xml -text
bankdroid.start/res/layout/authbankselect.xml -text
bankdroid.start/res/layout/authstart.xml -text
bankdroid.start/res/layout/customeritem.xml -text
bankdroid.start/res/layout/logout.xml -text
bankdroid.start/res/layout/main.xml -text
bankdroid.start/res/layout/main_icons.xml -text
bankdroid.start/res/layout/onerow.xml -text
bankdroid.start/res/layout/onerow_icon.xml -text
bankdroid.start/res/layout/preferences.xml -text
bankdroid.start/res/layout/propertyitem.xml -text
bankdroid.start/res/layout/propertyview.xml -text
bankdroid.start/res/layout/searchtransaction.xml -text
bankdroid.start/res/layout/start.xml -text
bankdroid.start/res/layout/tranitem.xml -text
bankdroid.start/res/layout/tranlist.xml -text
bankdroid.start/res/menu/acclistcontextmenu.xml -text
bankdroid.start/res/menu/mainmenu.xml -text
bankdroid.start/res/menu/tranlistcontextmenu.xml -text
bankdroid.start/res/menu/userlistcontextmenu.xml -text
bankdroid.start/res/values-hu/arrays.xml -text
bankdroid.start/res/values-hu/strings.xml -text
bankdroid.start/res/values/arrays.xml -text
bankdroid.start/res/values/attrs.xml -text
bankdroid.start/res/values/colors.xml -text
bankdroid.start/res/values/strings.xml -text
bankdroid.start/res/values/styles.xml -text
bankdroid.start/src/bankdroid/start/AboutActivity.java -text
bankdroid.start/src/bankdroid/start/AccountAdapter.java -text
bankdroid.start/src/bankdroid/start/AccountListActivity.java -text
bankdroid.start/src/bankdroid/start/Codes.java -text
bankdroid.start/src/bankdroid/start/Eula.java -text
bankdroid.start/src/bankdroid/start/FakeAccountService.java -text
bankdroid.start/src/bankdroid/start/LogoutActivity.java -text
bankdroid.start/src/bankdroid/start/MainActivity.java -text
bankdroid.start/src/bankdroid/start/Preferences.java -text
bankdroid.start/src/bankdroid/start/Property.java -text
bankdroid.start/src/bankdroid/start/PropertyAdapter.java -text
bankdroid.start/src/bankdroid/start/PropertyHelper.java -text
bankdroid.start/src/bankdroid/start/PropertyViewActivity.java -text
bankdroid.start/src/bankdroid/start/SearchTransactionActivity.java -text
bankdroid.start/src/bankdroid/start/ServiceActivity.java -text
bankdroid.start/src/bankdroid/start/ServiceRunner.java -text
bankdroid.start/src/bankdroid/start/SessionManager.java -text
bankdroid.start/src/bankdroid/start/TransactionAdapter.java -text
bankdroid.start/src/bankdroid/start/TransactionFilter.java -text
bankdroid.start/src/bankdroid/start/TransactionListActivity.java -text
bankdroid.start/src/bankdroid/start/auth/AuthBankSelectActivity.java -text
bankdroid.start/src/bankdroid/start/auth/AuthStartActivity.java -text
bankdroid.start/src/bankdroid/start/auth/AuthUtil.java -text
bankdroid.start/src/bankdroid/start/auth/BHAAuthActivity.java -text
bankdroid.start/src/bankdroid/start/auth/BankAdapter.java -text
bankdroid.start/src/bankdroid/start/auth/CustomerAdapter.java -text
bankdroid.start/src/bankdroid/start/auth/DummyAuthActivity.java -text
bankdroid.start/src/bankdroid/start/auth/OTPAuthActivity.java -text
bankdroid.start/src/bankdroid/start/auth/SecureRegistry.java -text
bankdroid.start/src/bankdroid/start/messages.properties -text
bankdroid.start/src/bankdroid/start/plugin/PluginManager.java -text
bankdroid.start/src/bankdroid/util/AndroidFormatter.java -text
bankdroid.start/src/bankdroid/util/AndroidHandler.java -text
bankdroid.start/src/bankdroid/util/GUIUtil.java -text
bankdroid.start/src/bankdroid/util/TrackedActivity.java -text
bankdroid.tool/.classpath -text
bankdroid.tool/.project -text
bankdroid.tool/src/bankdroid/tool/translation/Main.java -text
bankdroid.tool/src/bankdroid/tool/translation/ProjectExplorer.java -text
bankdroid.tool/src/bankdroid/tool/translation/StringHandler.java -text
bankdroid.tool/src/bankdroid/tool/translation/Strings.java -text
hu.tminfo/.classpath -text
hu.tminfo/.project -text
hu.tminfo/.settings/org.eclipse.core.resources.prefs -text
hu.tminfo/.settings/org.hibernate.eclipse.console.prefs -text
hu.tminfo/AndroidManifest.xml -text
hu.tminfo/assets/youtube_layer.png -text
hu.tminfo/default.properties -text
hu.tminfo/libs/libGoogleAnalytics.jar -text
hu.tminfo/res/drawable/ic_menu_markallasread.png -text
hu.tminfo/res/drawable/itembackground.xml -text
hu.tminfo/res/drawable/launcher.png -text
hu.tminfo/res/drawable/logo.png -text
hu.tminfo/res/drawable/mini_refresh.png -text
hu.tminfo/res/drawable/notification.png -text
hu.tminfo/res/drawable/titlebackground.xml -text
hu.tminfo/res/drawable/titleborder.xml -text
hu.tminfo/res/drawable/toolbarbackground.xml -text
hu.tminfo/res/drawable/transp_button.xml -text
hu.tminfo/res/drawable/undread_indicator.9.png -text
hu.tminfo/res/drawable/widgetbadge.xml -text
hu.tminfo/res/drawable/widgetframe_41.png -text
hu.tminfo/res/drawable/widgetframe_41_land.png -text
hu.tminfo/res/drawable/widgetframe_source_41.png -text
hu.tminfo/res/drawable/widgettitle.xml -text
hu.tminfo/res/layout-land/widget.xml -text
hu.tminfo/res/layout-land/widget1_1.xml -text
hu.tminfo/res/layout/about.xml -text
hu.tminfo/res/layout/preferences.xml -text
hu.tminfo/res/layout/rsslist.xml -text
hu.tminfo/res/layout/rsslistitem.xml -text
hu.tminfo/res/layout/viewitem.xml -text
hu.tminfo/res/layout/widget.xml -text
hu.tminfo/res/layout/widget1_1.xml -text
hu.tminfo/res/menu/itemmenu.xml -text
hu.tminfo/res/menu/mainmenu.xml -text
hu.tminfo/res/values/arrays.xml -text
hu.tminfo/res/values/colors.xml -text
hu.tminfo/res/values/strings.xml -text
hu.tminfo/res/xml/portal_widget_info.xml -text
hu.tminfo/res/xml/widget1_1_info.xml -text
hu.tminfo/src/bankdroid/rss/CommentIDExtractor.java -text
hu.tminfo/src/bankdroid/rss/ContentFilter.java -text
hu.tminfo/src/bankdroid/rss/EndIDExtractor.java -text
hu.tminfo/src/bankdroid/rss/Formatters.java -text
hu.tminfo/src/bankdroid/rss/HTMLEntities.java -text
hu.tminfo/src/bankdroid/rss/IDExtractor.java -text
hu.tminfo/src/bankdroid/rss/RSSChannel.java -text
hu.tminfo/src/bankdroid/rss/RSSHandler.java -text
hu.tminfo/src/bankdroid/rss/RSSItem.java -text
hu.tminfo/src/bankdroid/rss/RSSObject.java -text
hu.tminfo/src/bankdroid/rss/RSSStream.java -text
hu.tminfo/src/bankdroid/rss/StandardIDExtractor.java -text
hu.tminfo/src/bankdroid/rss/YoutubeFilter.java -text
hu.tminfo/src/hu/tminfo/AboutActivity.java -text
hu.tminfo/src/hu/tminfo/Codes.java -text
hu.tminfo/src/hu/tminfo/ItemListActivity.java -text
hu.tminfo/src/hu/tminfo/ItemViewActivity.java -text
hu.tminfo/src/hu/tminfo/PreferencesActivity.java -text
hu.tminfo/src/hu/tminfo/RSSItemProvider.java -text
hu.tminfo/src/hu/tminfo/RSSServiceStartReceiver.java -text
hu.tminfo/src/hu/tminfo/RSSSyncService.java -text
hu.tminfo/src/hu/tminfo/ToolbarActivity.java -text
hu.tminfo/src/hu/tminfo/TrackedActivity.java -text
hu.tminfo/src/hu/tminfo/widget/PortalWidgetProvider.java -text
hu.tminfo/src/hu/tminfo/widget/Widget11Provider.java -text
