* text=auto !eol
AndroidPortal.hu/.classpath -text
AndroidPortal.hu/.project -text
AndroidPortal.hu/AndroidManifest.xml -text
AndroidPortal.hu/default.properties -text
AndroidPortal.hu/res/drawable/aphu_logo.png -text
AndroidPortal.hu/res/drawable/aphu_title.png -text
AndroidPortal.hu/res/drawable/aphuicon.png -text
AndroidPortal.hu/res/drawable/itembackground.xml -text
AndroidPortal.hu/res/drawable/mini_refresh.png -text
AndroidPortal.hu/res/drawable/titlebackground.xml -text
AndroidPortal.hu/res/drawable/titleborder.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/drawable/widgetframe_41.png -text
AndroidPortal.hu/res/drawable/widgetframe_source_41.png -text
AndroidPortal.hu/res/layout/about.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/layout/preferences.xml -text
AndroidPortal.hu/res/layout/rsslist.xml -text
AndroidPortal.hu/res/layout/rsslistitem.xml -text
AndroidPortal.hu/res/layout/viewitem.xml -text
AndroidPortal.hu/res/layout/widget.xml -text
AndroidPortal.hu/res/menu/itemmenu.xml -text svneol=unset#text/plain
AndroidPortal.hu/res/menu/mainmenu.xml -text
AndroidPortal.hu/res/values/arrays.xml -text
AndroidPortal.hu/res/values/strings.xml -text
AndroidPortal.hu/res/xml/portal_widget_info.xml -text
AndroidPortal.hu/src/hu/androidportal/AboutActivity.java -text svneol=unset#text/plain
AndroidPortal.hu/src/hu/androidportal/Codes.java -text
AndroidPortal.hu/src/hu/androidportal/ItemListActivity.java -text
AndroidPortal.hu/src/hu/androidportal/ItemViewActivity.java -text
AndroidPortal.hu/src/hu/androidportal/PreferencesActivity.java -text
AndroidPortal.hu/src/hu/androidportal/RSSItemProvider.java -text
AndroidPortal.hu/src/hu/androidportal/RSSServiceStartReceiver.java -text
AndroidPortal.hu/src/hu/androidportal/RSSSyncService.java -text
AndroidPortal.hu/src/hu/androidportal/rss/Formatters.java -text
AndroidPortal.hu/src/hu/androidportal/rss/HTMLEntities.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSChannel.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSHandler.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSItem.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSObject.java -text
AndroidPortal.hu/src/hu/androidportal/rss/RSSStream.java -text
AndroidPortal.hu/src/hu/androidportal/test/RSSStreamTest.java -text
AndroidPortal.hu/src/hu/androidportal/test/magyarandroidportal.xml -text
AndroidPortal.hu/src/hu/androidportal/widget/PortalWidgetProvider.java -text
bankdroid.andralytics/.classpath -text
bankdroid.andralytics/.project -text
bankdroid.andralytics/AndroidManifest.xml -text
bankdroid.andralytics/default.properties -text
bankdroid.andralytics/libs/libGoogleAnalytics.jar -text
bankdroid.andralytics/res/drawable/app_icon.png -text
bankdroid.andralytics/res/drawable/facebook_button.xml -text
bankdroid.andralytics/res/drawable/facebook_icon_large.png -text
bankdroid.andralytics/res/drawable/facebook_icon_small.png -text
bankdroid.andralytics/res/drawable/gmail_button.xml -text
bankdroid.andralytics/res/drawable/gmail_icon_large.png -text
bankdroid.andralytics/res/drawable/gmail_icon_small.png -text
bankdroid.andralytics/res/drawable/header.png -text
bankdroid.andralytics/res/drawable/myspace_button.xml -text
bankdroid.andralytics/res/drawable/myspace_icon_large.png -text
bankdroid.andralytics/res/drawable/myspace_icon_small.png -text
bankdroid.andralytics/res/drawable/titleborder.xml -text
bankdroid.andralytics/res/drawable/twitter_button.xml -text
bankdroid.andralytics/res/drawable/twitter_icon_large.png -text
bankdroid.andralytics/res/drawable/twitter_icon_small.png -text
bankdroid.andralytics/res/layout/main.xml -text
bankdroid.andralytics/res/values-hu/strings.xml -text
bankdroid.andralytics/res/values/strings.xml -text
bankdroid.andralytics/src/bankdroid/andralytics/MainActivity.java -text
bankdroid.andralytics/src/bankdroid/andralytics/ShareUtils.java -text
bankdroid.andralytics/src/bankdroid/andralytics/TrackedActivity.java -text
bankdroid.soda/.classpath -text
bankdroid.soda/.project -text
bankdroid.soda/.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
bankdroid.soda/AndroidManifest.xml -text
bankdroid.soda/BankTest.launch -text
bankdroid.soda/assets/EULA -text
bankdroid.soda/assets/bankdef1.xml -text svneol=unset#text/plain
bankdroid.soda/assets/bankdef2.xml -text
bankdroid.soda/assets/bankdef3.xml -text
bankdroid.soda/assets/bankdef4.xml -text
bankdroid.soda/assets/bankdef5.xml -text
bankdroid.soda/default.properties -text
bankdroid.soda/res/drawable/allianz_logo.png -text
bankdroid.soda/res/drawable/background2.9.png -text
bankdroid.soda/res/drawable/bankdroid_logo.png -text
bankdroid.soda/res/drawable/boa_logo.png -text
bankdroid.soda/res/drawable/budapestbank_logo.png -text
bankdroid.soda/res/drawable/citibank_logo.png -text
bankdroid.soda/res/drawable/csob_logo.png -text
bankdroid.soda/res/drawable/donate2.png -text
bankdroid.soda/res/drawable/erste_logo.png -text
bankdroid.soda/res/drawable/fhb_logo.png -text
bankdroid.soda/res/drawable/gmail_icon.png -text
bankdroid.soda/res/drawable/info_icon.png -text
bankdroid.soda/res/drawable/itembackground.xml -text svneol=unset#text/plain
bankdroid.soda/res/drawable/kh_logo.png -text
bankdroid.soda/res/drawable/mkb_logo.png -text
bankdroid.soda/res/drawable/otp2_logo.png -text
bankdroid.soda/res/drawable/raiffeisen_logo.png -text
bankdroid.soda/res/drawable/soda_launch.png -text
bankdroid.soda/res/drawable/sparkasse_logo.png -text
bankdroid.soda/res/drawable/tatra_logo.png -text
bankdroid.soda/res/drawable/twitter_icon.png -text
bankdroid.soda/res/drawable/unicredit_logo.png -text
bankdroid.soda/res/layout/about.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/bankedit.xml -text
bankdroid.soda/res/layout/banklist.xml -text
bankdroid.soda/res/layout/banklistitem.xml -text
bankdroid.soda/res/layout/main.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/preferences.xml -text
bankdroid.soda/res/layout/smslist.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/smslistitem.xml -text svneol=unset#text/plain
bankdroid.soda/res/layout/sod.xml -text
bankdroid.soda/res/menu/banklistcontextmenu.xml -text
bankdroid.soda/res/menu/banklistmenu.xml -text
bankdroid.soda/res/menu/mainmenu.xml -text
bankdroid.soda/res/values-hu/strings.xml -text
bankdroid.soda/res/values/strings.xml -text
bankdroid.soda/res/values/styles.xml -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/AboutActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/Bank.java -text
bankdroid.soda/src/bankdroid/soda/BankDefinitionHandler.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankEditActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankListActivity.java -text
bankdroid.soda/src/bankdroid/soda/BankManager.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/BankProvider.java -text
bankdroid.soda/src/bankdroid/soda/Codes.java -text
bankdroid.soda/src/bankdroid/soda/CountDown.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/Eula.java -text
bankdroid.soda/src/bankdroid/soda/Formatters.java -text
bankdroid.soda/src/bankdroid/soda/Main.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/Message.java -text
bankdroid.soda/src/bankdroid/soda/Preferences.java -text
bankdroid.soda/src/bankdroid/soda/SMSListActivity.java -text svneol=unset#text/plain
bankdroid.soda/src/bankdroid/soda/SMSOTPDisplay.java -text
bankdroid.soda/src/bankdroid/soda/SMSReceiver.java -text
bankdroid.soda/src/bankdroid/soda/test/BankTest.java -text
bankdroid.start/.classpath -text
bankdroid.start/.project -text
bankdroid.start/AndroidManifest.xml -text
bankdroid.start/default.properties -text
bankdroid.start/res/drawable/icon.png -text
bankdroid.start/res/layout/accountlist.xml -text svneol=unset#text/plain
bankdroid.start/res/layout/accountlist_item.xml -text svneol=unset#text/plain
bankdroid.start/res/layout/start.xml -text
bankdroid.start/res/values/strings.xml -text
bankdroid.start/res/values/styles.xml -text svneol=unset#text/plain
bankdroid.start/src/bankdroid/start/AccountListActivity.java -text svneol=unset#text/plain
bankdroid.start/src/bankdroid/start/Codes.java -text
bankdroid.start/src/bankdroid/start/ServiceRunner.java -text
bankdroid.start/src/bankdroid/start/StartActivity.java -text
